@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.Name {
  font-family: 'Poiret One';
  font-size: 14px;
  font-weight: 700;
}
.Hero {
  margin-top: 20px;
  max-width: 90%;
}

.Ul {
  margin: 0px;
  padding: 0px 0px 10px 0px;
  list-style-type: none;
}
.ListName {
  font-family: 'Poiret One';
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
.MemberImg {
  max-width: 90%;
}
.MemberName {
  font-family: 'Poiret One';
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 5px;
}
.Musician {
  font-family: 'Poiret One';
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 5px;
}
@media screen and (min-width: 480px) {
  .Hero {
    max-width: 100%;
  }
}

@media screen and(min-width:1024px) {
  .MemberImg {
    max-width: 70%;
  }
}
