/* @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');
.Link {
  display: none;
  text-decoration: none;
  margin-right: 30px;
  padding: 12px;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  color: #2a363b;
}
.Link:hover,
.Link:focus {
  color: #008080;
}
.LinkLogo {
  display: inline-block;
  /* margin-right: 50px; */
}
.Logo {
  max-width: 200px;
}
.Text {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  text-transform: uppercase;
}
.TextUkr {
  font-weight: 700;
  text-transform: uppercase;
}

/* @media screen and(min-width:480px) {
  .Text {
    font-family: 'Big Shoulders Display';
    font-weight: 400;
    text-transform: uppercase;
  }
}
@media screen and(min-width:768) {
  .Text {
    font-weight: 700;
  }
} */
.Text:hover,
.Text:focus {
  color: #008080;
  transition: 1s;
}

.Nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* padding-right:15px */
}

@media screen and (min-width: 480px) {
  .Link {
    display: inline-block;
  }
}
