@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap');

.Link {
  display: none;
  text-decoration: none;
  padding: 12;
  font-weight: 700;
  color: #2a363b;
}
.Link:hover,
.Link:focus {
  color: #008080;
}
.LinkLogo {
  display: inline-block;
}
.Logo {
  max-width: 200px;
}
.Text {
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  text-transform: uppercase;
}
/* @media screen and(min-width:480px) {
  .Text {
    font-family: 'Big Shoulders Display';
    font-weight: 400;
    text-transform: uppercase;
  }
}
@media screen and(min-width:768) {
  .Text {
    font-weight: 700;
  }
} */
.Text:hover,
.Text:focus {
  color: #008080;
  transition: 1s;
}

.nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-right:15px */
}

@media screen and (min-width: 480px) {
  .Link {
    display: inline-block;
  }
}
