@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap');

/* .GalleryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
} */

/*HomeView*/
.Hero {
  margin-top: 20px;
  max-width: 250px;
}
