.ModalMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
}
.Nav {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding-right: 15px; */
}
.Link {
  /* display: none; */
  font-family: 'Poiret One';
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.Link:hover,
Link:focus {
  color: #008080;
}
.ActiveLink {
  color: #008080;
}
.LanguageContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Poiret One';
  font-weight: 700;
  font-weight: 700;
  color: #2a363b;
}
.ButtonContainer {
  display: flex;
  flex-direction: column;
}
.Button {
  font-family: 'Poiret One';
  font-weight: 700;
  font-size: 12px;
  width: 30px;
  border: 1px solid;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}
.ButtonActive {
  font-family: 'Poiret One';
  font-weight: 700;
  font-size: 12px;
  width: 30px;
  border: 1px solid teal;
  border-radius: 30px;
  color: teal;
  cursor: pointer;
  margin-bottom: 10px;
}

.Button:hover,
.Button:focus {
  color: teal;
  border-color: teal;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .ModalMenu {
    display: none;
  }
  .ButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
  }
}
